{% extends "MatchBatch/base.html" %}
 
{% block title %}Match Results{% endblock title %}
 
{% block content %}
 <div class="col-md-12">
        <h4> Match Results!</h4>
        <span><a href="/addnew" class="btn btn-danger">Add</a></span>  
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <!-- <th>ID</th> -->
                <th>VIN</th>
                <th>RN</th>
                <!-- <th>Employee Contact</th> -->
                <th>Edit</th>
                <th>Delete</th>
             </thead>
   <tbody>
   {% for m in match %}  
    <tr>  
     <td><input type="checkbox" class="checkthis" /></td>
     <td>{{ m.vin }}</td>  
     <td>{{ m.rn }}</td>   
     <td><a href="/edit/{{ m.id }}" button type="button" class="btn btn-primary px-3"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button></a></td>
     <td><a href="/delete/{{ m.id }}" button type="button" class="btn btn-danger px-3"><i class="fas fa-trash-alt" aria-hidden="true"></i></button></a></td>  
    </tr>  
   {% endfor %} 
   </tbody>
         
  </table>
        </div>
    </div>
{% endblock content %}